*{
    margin: 0;
    padding: 0;
}

/* Base Scrollbar */
html {
    scroll-behavior: smooth;
  }
/* Basic Scrollbar Styling */
::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #003cff, #ff9100, #ff0000);
    border-radius: 10px;
  }
  
  /* We'll dynamically fill this with scroll progress */
  ::-webkit-scrollbar-track {
    background: var(--scroll-gradient, transparent);
    transition: background 0.2s linear;
  }
  
.nav{
    width: 90rem;
}
.dark nav{
    box-shadow: 3px 3px 5px rgb(158, 158, 158);
}
.canvas{
    width: 100% !important; 
    height: 100% !important;
}

.curve_effect{
    transition: all 200ms;
}
.loo{
    background-color: red ;
}
.dl{
    box-shadow: rgb(255, 255, 255) 0px 2px 27.1378px inset, rgba(255, 255, 255, 0.592) 0px -10px 57.1377px 1px;
}
.du{
    transform: translateX(-91.8808px);
}
.dt{
    mask-image: linear-gradient(to right, transparent, black 30%, black 70%, transparent);
}

.color_animate {
    background: linear-gradient(90deg, rgb(255, 102, 0), blue,rgb(255, 0, 200), rgb(255, 94, 0)); /* loop back to red for seamless effect */
    background-size: 300%; /* make it wider for animation room */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: text_animation 6s  ease-in-out infinite;
  }
  
  @keyframes text_animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }



.myimg{
    filter: drop-shadow( 5px 5px 15px rgb(0, 0, 0));
}
.dark .myimg{
    filter: drop-shadow( 5px 5px 10px rgba(98, 108, 255, 0.452));
    opacity: 0.8;
}
.dark .myimg:hover{
    opacity: 1;
}
.introeff{
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.623), -5px -5px 7px rgba(0, 0, 0, 0.479);
    padding: 10px;
    border-radius: 20px;
}
.dark .introeff{
    box-shadow: 5px 5px 7px rgba(255, 255, 255, 0.623), -5px -5px 7px rgba(255, 255, 255, 0.479);
    padding: 10px;
    border-radius: 20px;
}
.myshadow{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.623), -3px -3px 5px rgba(0, 0, 0, 0.479);
}
.dark .myshadow{
    box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.623), -3px -3px 5px rgba(255, 255, 255, 0.479);

}
.abouttxt{
    position: sticky;
    z-index: 9999;
}

.myanimation{
    background: linear-gradient(90deg, rgb(255, 102, 0), blue,rgb(255, 0, 200), rgb(255, 94, 0)); /* loop back to red for seamless effect */
    background-size: 300%; /* make it wider for animation room */
    animation: text_animation 6s  ease-in-out infinite;

}

.lastdiv{
    /* background: linear-gradient(white, black,black,  white); */
    border-radius: 20rem;
    background-color: black;
}